serial 0 115200
display f1
prompt 1

default {{ISO_DEFAULT}}
label rack
  menu label greenbox rack
	kernel /boot/vmlinuz64 console=ttyS0,115200n8
	initrd /boot/initrd.img console=ttyS0,115200n8
  {{ISO_APPEND}} console=ttyS0,115200n8

label vbox
  menu label greenbox vga
	kernel /boot/vmlinuz64 console=vga
	initrd /boot/initrd.img console=vga
	{{ISO_APPEND}} console=vga

timeout 50
TOTALTIMEOUT 3000

F1 f1
F2 f2
F3 f3
F4 f4
